.create-button {
    -fx-background-color: #5264AE;
    -fx-text-fill: white;
}

.update-button {
    -fx-background-color: limegreen;
    -fx-text-fill: white;
}

.delete-button {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.data-column {
    -fx-alignment: center-left;
}

.table-column {
    -fx-alignment: CENTER;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}